.button{
  display: inline-block;
  border-radius: 4px;
  background-color: #111833;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 12px;
  padding: 10px;
  width: 95px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 3px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -5px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 10px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

#left{

 background: #2446c9;
  color: #0e1942;

  padding: 1px;
  height: 620px;
  width: 17%;
  margin: 2px;
  text-align: center;
  float: left;
 


}

#history{ 
  
  background: #ffffff;
  border-radius: 1px;
  color: #0e1942;
  display: block;
  font: 12px/18px "Source Code Pro", Inconsolata, "Lucida Console", Terminal, "Courier New", Courier;
  height: 620px;
  width: 98%;
  margin-top: 1px;
  text-align: center;
  float: left;
  overflow:scroll;
}


#feature1{

  background: #ffffff;
  height: 195px;
 
}

#chart{
position: absolute;
bottom: 25px;
right: 2px;
 

}
#middle{ 
  
  background: #1738b2;
  color: #111a3d;
  float: left;
  display: block;
  font: 10px/12px "Source Code Pro", Inconsolata, "Lucida Console", Terminal, "Courier New", Courier;
  padding: 2px 1px;
  height: 590px;
  width: 66%;
  margin: 3px;
  text-align: center;
}


#input {

  position: absolute;
  top: 18;
  left: 246px;
  bottom: 80%;
  width: 60%;
  background-color:#ffffff;
  border-radius: 1px;
  text-align:center;
  

 
 }

#result {
  
  position: absolute;
  top: 20.5%;
  left: 246;
  bottom: 17px;
  width: 60%;
  background-color:#a4b2ea;
  border-radius: 1px;
  text-align:center;
  overflow:scroll;

}



 
 #keyword{ 
  
  position: absolute;
  right:15px;
  background: #ffffff;
  border-radius: 1px;
  color: #0e1638;
  float: left;
  display: block;

  font: 14px/20px "Source Code Pro", Inconsolata, "Lucida Console", Terminal, "Courier New", Courier;
  padding: 2px 1px;
  height: 620px;
  width: 20%;
  margin: 3px;

  text-align: center;

}

.feature2{

    position: absolute;
    top: 70px;  
}
  
#inputQuery{

 margin-top: 10px;
 margin-left: 5px;

}

.displayabstract {

    position:relative;
    height:36px;
    width:800px;
    /*text-align:center;*/
    text-decoration:none;
    overflow:hidden;
    text-overflow:ellipsis;
    /*white-space:nowrap;*/
    display:inline-block;
}

.displaytitle {

    position:relative;
    height:12px;
    width:800px;
    /*text-align:center;*/
    text-decoration:none;
    overflow:hidden;
    text-overflow:ellipsis;
    /*white-space:nowrap;*/
    display:inline-block;
}



#wrapper { background: #596ec1;
    overflow:auto;
}
 
.ui-drop-hover { 
  border: 2px solid #bbb;

}
  
ul {
    list-style-type: none;

}




div.search span,
div.search input[name="keyword"] {
  display: block;
}

div.search input[name="keyword"] {
  margin-top: 4px;
}

div.panel {
  margin-bottom: 15px;
}
div.panel .panel-body p:last-child {
  margin-bottom: 0;
}

mark {
  padding: 0;
  background: #4358ad;
}
#recent{

color:#070d23;

}
ul#recentlist {
   list-style: none;

   padding: 5px; 
width: 200px;
 color: #070d23;
 

}
ul#recentlist li {
 
width: 98%;
   font-weight: bold;
   margin: 1px;
text-align: left;
   border-bottom: 1px solid #ccc;
   color: #070d23; 
   
}
ul#recentlist li:hover {
   color: #070d23;

   background-color: #3f53a3; 
    
}

#keeptable { 
  width: 100%;
  text-align: left;
  background-color: #162972;
  border-collapse: collapse; 
  color: #070d23;
  }

.myTable { 
  width: 80%;
  text-align: left;
  background-color: #cdd3f2;
  border-collapse: collapse; 
  color: #070d23;
  font-size: 14px;
  }
.myTable th { 
  background-color: #162972;
  color: white; 
  }
.myTable td, 
.myTable th { 
  padding: 5px;
  border: 1px solid #182868; 
  }

 .myTable .displaykeep{
  padding: 2px;

 }

body{

  background: #a79ced;
  color:#31448e;

}

#heading {
    
  margin: 0.5em 0 0.5em 0;
  font-weight: normal;
  position: relative;
  text-shadow: 0 -1px rgba(0,0,0,0.6);
  font-size: 12px;
  line-height: 40px;
  background: #273e99;

  border: 1px solid #fff;
  padding: 5px 5px;
  color: white;
  border-radius: 0 10px 0 10px;
  box-shadow: inset 0 0 5px rgba(53,86,129, 0.5);
  font-family: 'Muli', sans-serif;
}




input[type="text"], textarea {

  background-color : #a0aee5; 
  height: 35px;

}

input[type="checkbox"]{




}


::-webkit-scrollbar {
    width: 15px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #112160; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}




